#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: burlywood;
}

.jumbotron {
    background-color: burlywood;

}

#about {
    text-align: center;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#logo {
    cursor: pointer;
}
img{
    width:250px;
}